
.section, .slide {
  text-align:center;
  font-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





#section1 {	
  background-image: url("../images/istanbul.jpg");
  }
  #section3 {	
    background-image: url("../images/la.jpg");	
  }	
  
  #section4 {	background-image: url("../images/ny.jpg");	
  }	
  
  #section5 {	background-image: url("../images/ny.jpg");	
  }	
  
  #section2 {	background-image: url("../images/la.jpg");	
  }	
  
  #section6 {	background-image: url("../images/istanbul.jpg");	
  }	
  
  #section7 {	background-image: url("../images/istanbul.jpg");	
  }