
.section, .slide {
  text-align:center;
  font-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#callbacks-placeholder{
  position:fixed;top:150px;left:50px;color:black;z-index:999;
}

